<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="contener">
    <div class="texte">
      <p class="title"><i>Employ Me </i></p>
      <h4>Réinitialiser le mot de passe</h4>
    </div>
   
  <div class="formulaire">
    <div class="item">
        <ion-icon name="mail" size="medium"></ion-icon>
        <ion-input type="email" placeholder="Email"></ion-input>
    </div>
  </div>
  <ion-button shape="round"><p>Réinitialiser</p></ion-button>
  
  
  </div>
  </ion-content>
  