<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-title class="">
      Linkedin
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/listchat']">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container1">
    <div class="container">
      <div class="header-bloc d-f-s-b">
        <ion-buttons slot="start" [routerLink]="['/listchat']">
          <ion-button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <div>
          <ion-avatar>
            <img src="assets/img/blackM.jpg" />
          </ion-avatar>
          <ion-label>Black M</ion-label>
        </div>
        <ion-buttons slot="start">
          <ion-button><ion-icon name="ellipsis-horizontal"></ion-icon></ion-button>
        </ion-buttons>
      </div>
      <div class="bloc-conversation">
        <div class="bloc-contain">
          <div *ngFor="let item of message">
            <div class="message-from" *ngIf="item.user != Info.user.id ">
              <div class="sms-container from">
                <span>
                  <p>{{item.message}}</p>
                </span>
                <span>
                  <p>{{item.num}}</p>
                </span>
                <span class="d-f-e">12:09</span>
              </div>
            </div>
            <div class="message-to" *ngIf="item.user == Info.user.id ">
              <div class="sms-container to">
                <span>
                  <p>{{item.message}}</p>
                  <span>
                    <p>{{item.num}}</p>
                  </span>
                </span>
                <span class="d-f-e">13:00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form>
      <div class="textarea-sticker d-f-s-b">
        <ion-buttons shape="round" fill="clear">
          <ion-button  fill="clear" shape="round">
            <ion-icon name="attach"></ion-icon>
          </ion-button>

        </ion-buttons>
        <ion-textarea [(ngModel)]="sms.ms" type="text" name="comment" placeholder="Enter your message"></ion-textarea>
      </div>
      <ion-buttons class="button-send d-f-c" slot="end" (click)="send()">
        <ion-button shape="round" type="submit" fill="clear">
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </form>

  </div>
</ion-content>