
<ion-content>

  <div class="contener">
    <div class="texte">
      <h3>Bienvenu sur Employ Me</h3>
      <p>Connectez-vous et Rejoignez de milliers de jeunes</p>
    </div>
   
  <div class="formulaire">
    <div>
      <ion-icon name="mail"></ion-icon>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-icon name="lock-closed"></ion-icon>
      <ion-item>
        <ion-label>Mot de passe</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </div>
  </div>
  </div>
  </ion-content>
  