<!--
<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>
-->


<ion-content>
  <div class="header">
    <h2 class="name">Username</h2>
    <div class="space-beetween">
      
      <div class="followings">
        <ion-badge color="dark" mode="ios">04</ion-badge>
        <p> Avis</p>
      </div>
      
      <div class="followings">
        <ion-badge color="dark" mode="ios">12</ion-badge>
        <p> Publications</p>
      </div>
    </div>
    
    <ion-button fill="clear" slot="start" class="chat-bouton">
      <ion-icon name="chatbubbles-sharp" color="light" size="large" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="start" class="edit-bouton">
    <ion-icon name="create-sharp" color="light" size="large" slot="icon-only"></ion-icon>
  </ion-button>
  </div>
  <div class="flexe">
  <div class="border-black">
  <div class="border-white">
<div class="img-box">
  <img src="../../../assets/img/profil.png">
</div>
</div>
</div>
</div>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../../assets/img/profil.png">
      </ion-avatar>
      <ion-label>
        <h3><b>Nom Prenom</b></h3>
        <p>email@gmail.com</p>
        <h3><b>Genre</b></h3>
        <p>Feminin</p>
      </ion-label>
    </ion-item>
    
    
  </ion-card>
  <ion-card>
    
    <ion-item lines="none">
      <ion-label>
        <h3><b>Adresse</b></h3>
        <p>Yaoundé-Efoulan-Rue 7R45D</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    
    <ion-item lines="none">
      <ion-label>
        <h3><b>Téléphone</b></h3>
        <p>655555555</p>
      </ion-label>
      
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label>
        <h3><b>Pays</b></h3>
        <p>Cameroun</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-label>
        <h3><b>Date de naissance</b></h3>
        <p>16 juin 2002</p>
        <h3><b>Lieu de naissance</b></h3>
        <p>Sénégal</p>
      </ion-label>
    </ion-item>
    
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-label>
        <h3><b>Niveau Scolaire</b></h3>
        <p>Licence Professionnelle</p>
      </ion-label>
    </ion-item>
    
  </ion-card>


<ion-card>
  <ion-item lines="none">
    <ion-label>
      <h3><b>Domaines</b></h3>
      <div class="domain">
      <p>Médecine</p>
      <p>Agriculture</p>
      <p>Marketing</p>
    </div>
    </ion-label>
  </ion-item>
  
</ion-card>
</ion-content>
