<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="newpost" class="newpost">
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="joboffer">
      <ion-icon name="bag-remove-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
        <ion-avatar>
          <img [src]="['assets/img/naza.jpg']" />
        </ion-avatar>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>