<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-title class="">
      EmployMe
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button  [routerLink]="['/listchat']">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container1">
    <div class="container">
      <div class="header-bloc d-f-s-b">
        <ion-buttons slot="start">
          <!-- <ion-button><ion-icon name="arrow-back-outline"></ion-icon></ion-button> -->
        </ion-buttons>
        <h4 color="color-red">Job offer</h4>
        <ion-buttons slot="start">
          <ion-button><ion-icon name="ellipsis-horizontal"></ion-icon></ion-button>
        </ion-buttons>
      </div>

      <ion-list>
        <ion-item (click)="openJob()">
          <ion-avatar>
            <img [src]="['assets/img/user.jpg']" />
          </ion-avatar>
          <ion-label>
            <h3>SABC</h3>
            <p>New job offer...</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </div>
  </div>
</ion-content>